body {
  font-family: arial, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
/*NAVBAR*/

.nav {
  margin-top: 15px;
}
.nav ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.nav li {
  float: right;
}
